<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<header>
  <h1>Medicine Scheduler</h1>
</header>

<div class="container">
  <h2>Register</h2>
  <form id="register-form" th:action="@{/register/save}" method="post" th:object="${UserData}">
    <label for="username">Username:</label>
    <input type="text" th:field="*{username}" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password" name="password" required>

    <label for="email">Email:</label>
    <input type="text" th:field="*{email}" id="email" name="email" required>

    <div th:if="${error}" class="error-message">
      <p th:text="${error}"></p>
    </div>

    <button type="submit">Register</button>
  </form>
</div>

<footer>
  <p>Developed by Nivesh Soni</p>
</footer>

<script th:src="@{/js/register.js}"></script>
</body>
</html>
